@import url("https://fonts.googleapis.com/css2?family=Didot:wght@300&family=Ephesis:wght@400&family=Lato&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #3d3737;
  --color-secondary: #5a5a5a;
  --color-brown: #3D3737;
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Didot", "Times New Roman", serif;
  --font-cursive: "Ephesis", "Brush Script MT", cursive;
  --text-base: 18px;
}
